.hero-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.623)),
    url('https://feyton.github.io/assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lexend';
  font-weight: bolder;
  h3 {
    font-size: 3rem;
  }
  h2 {
    font-size: 4rem;
  }
}
