@import '../../styles.scss';
.nav-item img {
  width: 50px !important;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  height: 100%;
}
.nav-item a.active {
  border-bottom: 2px solid red;
  color: black;
}
.navbar-brand {
  font-family: $headFont !important;
  align-items: center;
  height: 100%;
}
