$headFont: 'Lexend';
$textFont: 'Josefin Sans', sans-serif;
$spanFont: 'Raleway', sans-serif;
$primaryColor: rgb(34, 34, 34);
$secColor: rgb(122, 125, 125);

body {
  box-sizing: border-box;
}

div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: $headFont;
}
